.Xdefaults
.config/plugged
.config/Code
.config/Microsoft
.config/teams
.config/pulse
.config/Unity*
.bash_history
.bash_logout
.cabal
.cache
.dmenu
.dotfiles
.doom.d
.fonts
.fzf
.gnupg
.ipython
.java
.jupyter
.local
.mozilla
.npm
.nv
.nvidia-settings-rc
.oh-my-zsh
.picom
.pki
.profile
.python_history
.randodotfiels
.shell.pre-oh-my-zsh
.ssh
.sudo*
.tex*
.thunderbird
.vim
.vscode
.wget-hsts
.z
.zinit
.zplug
.zcomp*
.zsh_history
.zshrc.pre-oh-my-zsh
Documents
Downloads
Pictures
Programs
Xresources
powerline-shell
snap
